.form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f6f8fa;
    border: 1px solid #d6d9dc;
    border-radius: 5px;
}
  
.form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
  
.form input[type="text"],
.form input[type="email"],
.form input[type="password"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #d6d9dc;
    border-radius: 3px;
}
  
.form input[type="submit"] {
    background-color: #0077cc;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
  
.redirectButton {
    background-color: transparent;
    color: #0077cc;
    border: none;
    cursor: pointer;
    margin-left: 50px;
}
  
.redirectButton:hover {
    text-decoration: underline;
}
  